@page
@model WebApplication1.Pages.Administracion.AltaMedicamentoModel
@{
}
<div class="d-flex flex-column m-0 h-100 ">
    <main role="main" class=" ">
        <div class="container my-4">
            <form class="mx-4 mx-md-0" method="post" onsubmit="validar(event)">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label for="codigo" class="form-label">Código Medicamento</label>
                        <input type="text" class="form-control" id="codigo" placeholder="PSA-11111-5" asp-for="cod_medicamento" onchange="validar(event)" required>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="nombre" class="form-label">Nombre comercial</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Amoxol" asp-for="nombre" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <label for="droga" class="form-label">Nombre farmacologico</label>
                        <input type="text" class="form-control" id="droga" placeholder="Amoxicilina" asp-for="droga" aria-describedby="drogades" required>
                        <div id="drogades" class="form-text">Nombre para describir qué droga es</div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="tipo" class="form-label">Tipo de medicamento</label>
                        <select id="tipo" class="form-select" asp-for="@Model.tipo" asp-items="@Model.TagOptions" required>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </main>
</div>
<script>
    const validar = (event) => {
        let mensaje = "";
        let cod_medicamento = document.getElementById("codigo").value;
        if (!validarCodigo(cod_medicamento)) {
            event.preventDefault();
            mensaje += "Codigo incorrecto. Verifique que cumpla este formato antes de seguir: \n- Comienza con tres letras \n- La primer letra debe ser P o W \n- A continuacion debe tener 5 digitos \n- debe tener un digito verificador";
        } else {
            esPrioritario(cod_medicamento) ? mensaje += "El medicamento es prioritario" : mensaje += "El medicamento no es prioritario";
        }
        if (mensaje != "") alert(mensaje);
    }
    const altaProducto = (event) => {
        event.preventDefault();
        let cod_medicamento = document.getElementById("codigo").value;
        let nombre = document.getElementById("nombre").value;
        let droga = document.getElementById("droga").value;
        let tipo = document.getElementById("tipo").value;

        let request = {
            "id": 11111,
            "cod_medicamento": cod_medicamento,
            "nombre": nombre,
            "droga": droga,
            "tipo": tipo
        };
        console.log(request);
    }
    const validarCodigo = (codigoMedicamento) => {
        let codValido = false;

        if (codigoMedicamento !== "") {
            const regex = /^[P,W]{1}[A-Z]{2}\-\d{5}\-\d{1}$/;
            if (regex.test(codigoMedicamento)) {
                let partes = codigoMedicamento.split("-")
                codValido = validarDigitoVerificador(partes[1], partes[2])
            }
        }
        return codValido;
    }

    const validarDigitoVerificador = (numero, digito) => {
        let valido = true;
        console.log(`Numero: ${numero}, dígito verificador : ${digito}`)
        while (numero.length > 1) {
            numero = sumarDigitos(numero)
        }
        if (numero !== digito) {
            valido = false
        }
        return valido;
    }

    const sumarDigitos = (strNum) => {
        let resultado = strNum.split('').map(Number).reduce((a, b) => a + b, 0);
        return "" + resultado;
    }

    const esPrioritario = (str) => {
        let prioritario = false
        if (str[0] === 'P') {
            prioritario = true;
            return prioritario;
        } else if (str[0] === 'W') {
            prioritario = false;
            return prioritario;
        } else {
            console.log("la primer letra debe ser P o W  ")
        }
    }
</script>